{
  "swagger" : "2.0",
  "info" : {
    "description" : "BriteCore's Application Programming Interface",
    "version" : "1.0",
    "title" : "BriteCore API"
  },
  "host" : "api.engineering-sandbox.britecore.com",
  "schemes" : [ "https" ],
  "paths" : {
    "/" : {
      "get" : {
        "description" : "Mock",
        "produces" : [ "text/html" ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "headers" : {
              "Content-Type" : {
                "type" : "string",
                "description" : "Media type"
              }
            }
          }
        }
      }
    },
    "/BriteAccess-Enforcer-sandbox" : {
      "x-amazon-apigateway-any-method" : {
        "responses" : {
          "200" : {
            "description" : "200 response"
          }
        },
        "security" : [ {
          "sigv4" : [ ]
        } ]
      }
    },
    "/access/actors" : {
      "get" : {
        "tags" : [ "access" ],
        "summary" : "Gets all actors",
        "description" : "Gets all actors",
        "operationId" : "getActors",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Actors retrieved successfully",
            "schema" : {
              "$ref" : "#/definitions/ArrayOfActor"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/access/actors/{id}" : {
      "get" : {
        "tags" : [ "access" ],
        "summary" : "Gets a specific actor",
        "description" : "Gets an actor",
        "operationId" : "getActor",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier for retrieving single object",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Actor is retrieved successfully",
            "schema" : {
              "$ref" : "#/definitions/ArrayOfActor"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/access/domains" : {
      "get" : {
        "tags" : [ "access" ],
        "summary" : "Gets all domains",
        "description" : "Gets all of the domains and their respective resources, actions, and attributes",
        "operationId" : "getDomains",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Domains retrieved successfully",
            "schema" : {
              "$ref" : "#/definitions/ArrayOfDomain"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/access/domains/{id}" : {
      "get" : {
        "tags" : [ "access" ],
        "summary" : "Gets a specific domain",
        "description" : "Gets a domain and its respective resources, actions, and attributes",
        "operationId" : "getDomain",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier for retrieving single object",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Domain and its respective actions, resources, and attributes are retrieved successfully",
            "schema" : {
              "$ref" : "#/definitions/ArrayOfDomain"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/access/evaluations" : {
      "post" : {
        "tags" : [ "access" ],
        "summary" : "Evaluates the provided access attempt description objects",
        "description" : "Evaluates all provided request objects",
        "operationId" : "submitEvaluationRequests",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "ArrayOfEvaluationRequest",
          "description" : "List of access attempt description objects to be evaluated",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ArrayOfEvaluationRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Evaluation requests processed successfully",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "Invalid input",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/access/groups" : {
      "get" : {
        "tags" : [ "access" ],
        "summary" : "Gets all groups",
        "description" : "Gets all groups",
        "operationId" : "getGroups",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Groups retrieved successfully",
            "schema" : {
              "$ref" : "#/definitions/ArrayOfGroup"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/access/groups/{id}" : {
      "get" : {
        "tags" : [ "access" ],
        "summary" : "Gets a specific group",
        "description" : "Gets a group",
        "operationId" : "getGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier for retrieving single object",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Group is retrieved successfully",
            "schema" : {
              "$ref" : "#/definitions/ArrayOfGroup"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/access/policies" : {
      "get" : {
        "tags" : [ "access" ],
        "summary" : "Gets all access policies",
        "description" : "Gets all of the access policies and their respective policy statements",
        "operationId" : "getAccessPolicies",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "type",
          "in" : "query",
          "description" : "Filter by type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Filter by name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "description",
          "in" : "query",
          "description" : "Filter by description",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Access policies retrieved successfully",
            "schema" : {
              "$ref" : "#/definitions/ArrayOfPolicy"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "access" ],
        "summary" : "Adds a new access policy",
        "description" : "Adds a new access policy with its respective statements",
        "operationId" : "addAccessPolicy",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "Policy",
          "description" : "A JSON with the required information to create an access policy",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Policy"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Access policy added successfully",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "Invalid input",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/access/policies/validations" : {
      "post" : {
        "tags" : [ "access" ],
        "summary" : "Validates an array of access policies",
        "description" : "Validates an array of access policies and returns whether they are valid or not",
        "operationId" : "validateAccessPolicies",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "ArrayOfPolicy",
          "description" : "A JSON with the required information to create an access policy",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ArrayOfPolicy"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Access policies validated successfully",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "Invalid input",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/access/policies/{id}" : {
      "get" : {
        "tags" : [ "access" ],
        "summary" : "Gets a specific access policy",
        "description" : "Gets an access policy and its respective policy statements",
        "operationId" : "getAccessPolicy",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier for retrieving single object",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Access policy and its respective policy statements are retrieved successfully",
            "schema" : {
              "$ref" : "#/definitions/ArrayOfPolicy"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "access" ],
        "summary" : "Update an access policy",
        "description" : "Update an access policy with its respective statements",
        "operationId" : "updateAccessPolicy",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier for retrieving single object",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "ArrayOfPolicy",
          "description" : "A JSON with the required information to update an access policy",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ArrayOfPolicy"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Access policy updated successfully",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "Invalid input",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "405" : {
            "description" : "Method not allowed",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "access" ],
        "summary" : "Deletes an access policy that matches the id",
        "description" : "Deletes a specific access policy",
        "operationId" : "deleteAccessPolicy",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier for retrieving single object",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Access policy deleted successfully",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/access/policy-assignments" : {
      "get" : {
        "tags" : [ "access" ],
        "summary" : "Gets all policy assignments",
        "description" : "Gets all of the policy assignments",
        "operationId" : "getPolicyAssignments",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Policy assignments retrieved successfully",
            "schema" : {
              "$ref" : "#/definitions/ArrayOfPolicyAssignment"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "access" ],
        "summary" : "Adds a new policy assignment",
        "description" : "Adds a new policy assignment",
        "operationId" : "addPolicyAssignment",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "PolicyAssignment",
          "description" : "A JSON with the required information to create a policy assignment",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PolicyAssignment"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Policy assignment added successfully",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "Invalid input",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/access/policy-assignments/{id}" : {
      "get" : {
        "tags" : [ "access" ],
        "summary" : "Gets a specific policy assignment",
        "description" : "Gets a policy assignment",
        "operationId" : "getPolicyAssignment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier for retrieving single object",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Policy assignment is retrieved successfully",
            "schema" : {
              "$ref" : "#/definitions/ArrayOfPolicyAssignment"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "access" ],
        "summary" : "Deletes a policy assignment that matches the id",
        "description" : "Deletes a specific policy assignment",
        "operationId" : "deletePolicyAssignment",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier for retrieving single object",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Policy assignment deleted successfully",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/access/role-group-assignments" : {
      "get" : {
        "tags" : [ "access" ],
        "summary" : "Gets all RoleGroupAssignment",
        "description" : "Gets all RoleGroupAssignment",
        "operationId" : "getRoleGroupAssignments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "date_added_before",
          "in" : "query",
          "description" : "Filter by date_added start date",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "group",
          "in" : "query",
          "description" : "Filter by Group ID",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "role_name",
          "in" : "query",
          "description" : "Filter by Role name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "date_added_after",
          "in" : "query",
          "description" : "Filter by date_added end date",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "role",
          "in" : "query",
          "description" : "Filter by Role ID",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "group_name",
          "in" : "query",
          "description" : "Filter by Group name",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "RoleGroupAssignment retrieved successfully",
            "schema" : {
              "$ref" : "#/definitions/ArrayOfRoleGroupAssignment"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "access" ],
        "summary" : "Adds a new RoleGroupAssignment",
        "description" : "Add a new RoleGroupAssignment",
        "operationId" : "addRoleGroupAssignment",
        "produces" : [ "application/json" ],
        "responses" : {
          "201" : {
            "description" : "RoleGroupAssignment created successfully",
            "schema" : {
              "$ref" : "#/definitions/ArrayOfRoleGroupAssignment"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "Invalid input",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/access/role-group-assignments/{id}" : {
      "get" : {
        "tags" : [ "access" ],
        "summary" : "Gets a specific RoleGroupAssignment",
        "description" : "Gets an RoleGroupAssignment",
        "operationId" : "getRoleGroupAssignment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier for retrieving single object",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "RoleGroupAssignment is retrieved successfully",
            "schema" : {
              "$ref" : "#/definitions/MODEL48b5b3"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "RoleGroupAssignment Not found",
            "schema" : {
              "$ref" : "#/definitions/MODELf084dc"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "access" ],
        "summary" : "Update a RoleGroupAssignment",
        "description" : "Update a RoleGroupAssignment",
        "operationId" : "updateRoleGroupAssignment",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier for retrieving single object",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "ArrayOfRoleGroupAssignment",
          "description" : "A JSON with the required information to update a RoleGroupAssignment",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ArrayOfRoleGroupAssignment"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "RoleGroupAssignment updated successfully",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "Invalid input",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "RoleGroupAssignment Not found",
            "schema" : {
              "$ref" : "#/definitions/MODEL3811c1"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "access" ],
        "summary" : "Deletes a RoleGroupAssignment that matches the id",
        "description" : "Deletes a specific RoleGroupAssignment",
        "operationId" : "deleteRoleGroupAssignment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier for retrieving single object",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "RoleGroupAssignment deleted successfully",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "RoleGroupAssignment Not found",
            "schema" : {
              "$ref" : "#/definitions/MODEL697037"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/access/role-user-assignments" : {
      "get" : {
        "tags" : [ "access" ],
        "summary" : "Gets all RoleUserAssignments",
        "description" : "Gets all RoleUserAssignments",
        "operationId" : "getRoleUserAssignments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "date_added_before",
          "in" : "query",
          "description" : "Filter by date_added start date",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "user",
          "in" : "query",
          "description" : "Filter by User ID",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "role_name",
          "in" : "query",
          "description" : "Filter by Role name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "date_added_after",
          "in" : "query",
          "description" : "Filter by date_added end date",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "role",
          "in" : "query",
          "description" : "Filter by Role ID",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "user_name",
          "in" : "query",
          "description" : "Filter by User name",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "RoleUserAssignment retrieved successfully",
            "schema" : {
              "$ref" : "#/definitions/ArrayOfRoleUserAssignment"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "access" ],
        "summary" : "Adds a new RoleUserAssignment",
        "description" : "Add a new RoleUserAssignment",
        "operationId" : "addRoleUserAssignment",
        "produces" : [ "application/json" ],
        "responses" : {
          "201" : {
            "description" : "RoleUserAssignment created successfully",
            "schema" : {
              "$ref" : "#/definitions/ArrayOfRoleUserAssignment"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "Invalid input",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/access/role-user-assignments/{id}" : {
      "get" : {
        "tags" : [ "access" ],
        "summary" : "Gets a specific RoleUserAssignment",
        "description" : "Gets an RoleUserAssignment",
        "operationId" : "getRoleUserAssignment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier for retrieving single object",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "RoleUserAssignment is retrieved successfully",
            "schema" : {
              "$ref" : "#/definitions/MODEL98b218"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "RoleUserAssignment Not found",
            "schema" : {
              "$ref" : "#/definitions/MODEL98044e"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "access" ],
        "summary" : "Update a RoleUserAssignment",
        "description" : "Update a RoleUserAssignment",
        "operationId" : "updateRoleUserAssignment",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier for retrieving single object",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "ArrayOfRoleUserAssignment",
          "description" : "A JSON with the required information to update a RoleUserAssignment",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ArrayOfRoleUserAssignment"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "RoleUserAssignment updated successfully",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "Invalid input",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "RoleUserAssignment Not found",
            "schema" : {
              "$ref" : "#/definitions/MODELda58f0"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "access" ],
        "summary" : "Deletes a RoleUserAssignment that matches the id",
        "description" : "Deletes a specific RoleUserAssignment",
        "operationId" : "deleteRoleUserAssignment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier for retrieving single object",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "RoleUserAssignment deleted successfully",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "RoleUserAssignment Not found",
            "schema" : {
              "$ref" : "#/definitions/MODEL411f1e"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/access/roles" : {
      "get" : {
        "tags" : [ "access" ],
        "summary" : "Gets all roles",
        "description" : "Gets all roles",
        "operationId" : "getRoles",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "description",
          "in" : "query",
          "description" : "Filter roles by description",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rel_usergroups",
          "in" : "query",
          "description" : "Get roles related to a list of groups",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Filter roles by name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "rel_username",
          "in" : "query",
          "description" : "Get roles related to a user",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Roles retrieved successfully",
            "schema" : {
              "$ref" : "#/definitions/ArrayOfRole"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "access" ],
        "summary" : "Adds a new role",
        "description" : "Add a new Role",
        "operationId" : "addRole",
        "produces" : [ "application/json" ],
        "responses" : {
          "201" : {
            "description" : "Role created successfully",
            "schema" : {
              "$ref" : "#/definitions/ArrayOfRole"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "Invalid input",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/access/roles/{id}" : {
      "get" : {
        "tags" : [ "access" ],
        "summary" : "Gets a specific role",
        "description" : "Gets an role",
        "operationId" : "getRole",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier for retrieving single object",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Role is retrieved successfully",
            "schema" : {
              "$ref" : "#/definitions/MODEL9d9ea8"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "Role Not found",
            "schema" : {
              "$ref" : "#/definitions/MODEL2e7edf"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "access" ],
        "summary" : "Update a Role",
        "description" : "Update a Role",
        "operationId" : "updateRole",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier for retrieving single object",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "ArrayOfRole",
          "description" : "A JSON with the required information to update a Role",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ArrayOfRole"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Role updated successfully",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "Invalid input",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "Role Not found",
            "schema" : {
              "$ref" : "#/definitions/MODEL2a2d67"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "access" ],
        "summary" : "Deletes a role that matches the id",
        "description" : "Deletes a specific Role",
        "operationId" : "deleteRole",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier for retrieving single object",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Role deleted successfully",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "Role Not found",
            "schema" : {
              "$ref" : "#/definitions/MODEL793bc7"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/access/silk/{proxy+}" : {
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      },
      "x-amazon-apigateway-any-method" : {
        "parameters" : [ {
          "name" : "proxy",
          "in" : "path",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/access/sync-users-and-groups" : {
      "post" : {
        "tags" : [ "access" ],
        "summary" : "Sync users and groups table with data from an external source",
        "description" : "Delete stale users and groups that are no longer present in the external source and create new users and groups",
        "operationId" : "syncUsersAndGroups",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "MODELcbd4d3",
          "description" : "A JSON with the required information to sync users and groups",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MODELcbd4d3"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Users and groups have been synced successfully",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "Invalid input",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/access/users" : {
      "get" : {
        "tags" : [ "access" ],
        "summary" : "Gets all users",
        "description" : "Gets all users",
        "operationId" : "getUsers",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Users retrieved successfully",
            "schema" : {
              "$ref" : "#/definitions/ArrayOfUser"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/access/users/{id}" : {
      "get" : {
        "tags" : [ "access" ],
        "summary" : "Gets a specific user",
        "description" : "Gets a user",
        "operationId" : "getUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier for retrieving single object",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "User is retrieved successfully",
            "schema" : {
              "$ref" : "#/definitions/ArrayOfUser"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/auth/oauth2/token" : {
      "post" : {
        "tags" : [ "authentication" ],
        "summary" : "The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token.",
        "operationId" : "exchangeToken",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "MODELd06ea7",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MODELd06ea7"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "bad request",
            "schema" : {
              "$ref" : "#/definitions/MODELd833e4"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/auth/settings/invitation-messages" : {
      "get" : {
        "tags" : [ "authentication" ],
        "summary" : "Returns the Invitation Message templates currently set on the main user pool.",
        "operationId" : "getInvitationMessages",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/InvitationMessagesRequest"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "authentication" ],
        "summary" : "Updates the Invitation Message templates currently set on the main user pool. Your custom message must contain the {username} and {####} placeholders.",
        "operationId" : "updateInvitationMessages",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "InvitationMessagesRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InvitationMessagesRequest"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "success",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/auth/settings/password-policy" : {
      "get" : {
        "tags" : [ "authentication" ],
        "summary" : "Returns the Password Policy currently set on the main user pool.",
        "operationId" : "getPasswordPolicy",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/PasswordPolicyRequest"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "authentication" ],
        "summary" : "Updates the Password Policy currently set on the main user pool.",
        "operationId" : "updatePasswordPolicy",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "PasswordPolicyRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PasswordPolicyRequest"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "success",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      },
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/documents/{proxy+}" : {
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      },
      "x-amazon-apigateway-any-method" : {
        "parameters" : [ {
          "name" : "proxy",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/graphql/lines" : {
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      },
      "x-amazon-apigateway-any-method" : {
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/graphql/quote" : {
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      },
      "x-amazon-apigateway-any-method" : {
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/lines/admin/{proxy+}" : {
      "options" : {
        "tags" : [ "CORS" ],
        "summary" : "CORS support",
        "description" : "Enable CORS by returning correct headers",
        "consumes" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Default response for CORS method",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      },
      "x-amazon-apigateway-any-method" : {
        "parameters" : [ {
          "name" : "proxy",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "x-bc-request-id" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "apigateway-lambda-authorizer" : [ ]
        } ]
      }
    },
    "/lines/field-formats" : {
      "get" : {
        "tags" : [ "lines" ],
        "description" : "Get list of all Field Formats.",
        "operationId" : "listFieldFormats",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "List of all Field Formats",
            "schema" : {
              "$ref" : "#/definitions/FieldFormat"
            },
            "examples" : {
              "application/json" : [ {
                "label" : "Vehicle Identification Number",
                "classification" : "string.vehicle.vin",
                "group" : {
                  "label" : "Vehicle"
                },
                "description" : "Text input for valid 17 character VIN.",
                "default_field_values" : {
                  "name" : "vin",
                  "label" : "Vehicle Identification Number",
                  "type" : "string",
                  "validators" : [ {
                    "name" : "regex",
                    "params" : {
                      "value" : "^[a-zA-Z0-9]{9}[a-zA-Z0-9]{2}[0-9]{6}$"
                    }
                  } ]
                }
              }, {
                "label" : "Social Security Number",
                "classification" : "string.personal.social_security_number",
                "group" : {
                  "label" : "Identity"
                },
                "description" : "Text input for a valid SSN, allows separation using hyphens. (e.g. 123-45-6789)",
                "default_field_values" : {
                  "name" : "ssn",
                  "label" : "Social Security Number",
                  "type" : "string",
                  "validators" : [ {
                    "name" : "regex",
                    "params" : {
                      "value" : "^(?!000|666|9)\\d{3}(-?)(?!00)\\d{2}\\1(?!0000)\\d{4}$"
                    }
                  } ]
                }
              }, {
                "label" : "Birthdate",
                "classification" : "date.personal.birthdate",
                "group" : {
                  "label" : "Identity"
                },
                "description" : "Date input intended to be used for submitting date of birth.",
                "default_field_values" : {
                  "name" : "birthdate",
                  "label" : "Birthdate",
                  "type" : "date"
                }
              }, {
                "label" : "Currency",
                "classification" : "number.monetary.currency",
                "group" : {
                  "label" : "Payment Info"
                },
                "description" : "Number input field containing monetary value.",
                "default_field_values" : {
                  "name" : "currency",
                  "label" : "Currency",
                  "type" : "number"
                }
              }, {
                "label" : "Yes/No Question",
                "classification" : "boolean.informational.yes_no",
                "group" : {
                  "label" : "Boolean Formats"
                },
                "description" : "Choice field containing response to a Yes/No question.",
                "default_field_values" : {
                  "name" : "yesNoQuestion",
                  "label" : "Yes/No Question",
                  "type" : "boolean"
                }
              }, {
                "label" : "U.S. State Selection",
                "classification" : "enum.address.us.state",
                "group" : {
                  "label" : "Location"
                },
                "description" : "Option Selection Field with list of all U.S. States with their names as labels and 2 character ISO codes as values.",
                "default_field_values" : {
                  "name" : "usState",
                  "label" : "U.S. State",
                  "type" : "enum",
                  "options" : [ {
                    "label" : "Alabama",
                    "value" : "AL",
                    "name" : "AL"
                  }, {
                    "label" : "Alaska",
                    "value" : "AK",
                    "name" : "AK"
                  }, {
                    "label" : "American Samoa",
                    "value" : "AS",
                    "name" : "AS"
                  }, {
                    "label" : "Arizona",
                    "value" : "AZ",
                    "name" : "AZ"
                  }, {
                    "label" : "Arkansas",
                    "value" : "AR",
                    "name" : "AR"
                  }, {
                    "label" : "California",
                    "value" : "CA",
                    "name" : "CA"
                  }, {
                    "label" : "Colorado",
                    "value" : "CO",
                    "name" : "CO"
                  }, {
                    "label" : "Connecticut",
                    "value" : "CT",
                    "name" : "CT"
                  }, {
                    "label" : "Delaware",
                    "value" : "DE",
                    "name" : "DE"
                  }, {
                    "label" : "District Of Columbia",
                    "value" : "DC",
                    "name" : "DC"
                  }, {
                    "label" : "Federated States Of Micronesia",
                    "value" : "FM",
                    "name" : "FM"
                  }, {
                    "label" : "Florida",
                    "value" : "FL",
                    "name" : "FL"
                  }, {
                    "label" : "Georgia",
                    "value" : "GA",
                    "name" : "GA"
                  }, {
                    "label" : "Guam",
                    "value" : "GU",
                    "name" : "GU"
                  }, {
                    "label" : "Hawaii",
                    "value" : "HI",
                    "name" : "HI"
                  }, {
                    "label" : "Idaho",
                    "value" : "ID",
                    "name" : "ID"
                  }, {
                    "label" : "Illinois",
                    "value" : "IL",
                    "name" : "IL"
                  }, {
                    "label" : "Indiana",
                    "value" : "IN",
                    "name" : "IN"
                  }, {
                    "label" : "Iowa",
                    "value" : "IA",
                    "name" : "IA"
                  }, {
                    "label" : "Kansas",
                    "value" : "KS",
                    "name" : "KS"
                  }, {
                    "label" : "Kentucky",
                    "value" : "KY",
                    "name" : "KY"
                  }, {
                    "label" : "Louisiana",
                    "value" : "LA",
                    "name" : "LA"
                  }, {
                    "label" : "Maine",
                    "value" : "ME",
                    "name" : "ME"
                  }, {
                    "label" : "Marshall Islands",
                    "value" : "MH",
                    "name" : "MH"
                  }, {
                    "label" : "Maryland",
                    "value" : "MD",
                    "name" : "MD"
                  }, {
                    "label" : "Massachusetts",
                    "value" : "MA",
                    "name" : "MA"
                  }, {
                    "label" : "Michigan",
                    "value" : "MI",
                    "name" : "MI"
                  }, {
                    "label" : "Minnesota",
                    "value" : "MN",
                    "name" : "MN"
                  }, {
                    "label" : "Mississippi",
                    "value" : "MS",
                    "name" : "MS"
                  }, {
                    "label" : "Missouri",
                    "value" : "MO",
                    "name" : "MO"
                  }, {
                    "label" : "Montana",
                    "value" : "MT",
                    "name" : "MT"
                  }, {
                    "label" : "Nebraska",
                    "value" : "NE",
                    "name" : "NE"
                  }, {
                    "label" : "Nevada",
                    "value" : "NV",
                    "name" : "NV"
                  }, {
                    "label" : "New Hampshire",
                    "value" : "NH",
                    "name" : "NH"
                  }, {
                    "label" : "New Jersey",
                    "value" : "NJ",
                    "name" : "NJ"
                  }, {
                    "label" : "New Mexico",
                    "value" : "NM",
                    "name" : "NM"
                  }, {
                    "label" : "New York",
                    "value" : "NY",
                    "name" : "NY"
                  }, {
                    "label" : "North Carolina",
                    "value" : "NC",
                    "name" : "NC"
                  }, {
                    "label" : "North Dakota",
                    "value" : "ND",
                    "name" : "ND"
                  }, {
                    "label" : "Northern Mariana Islands",
                    "value" : "MP",
                    "name" : "MP"
                  }, {
                    "label" : "Ohio",
                    "value" : "OH",
                    "name" : "OH"
                  }, {
                    "label" : "Oklahoma",
                    "value" : "OK",
                    "name" : "OK"
                  }, {
                    "label" : "Oregon",
                    "value" : "OR",
                    "name" : "OR"
                  }, {
                    "label" : "Palau",
                    "value" : "PW",
                    "name" : "PW"
                  }, {
                    "label" : "Pennsylvania",
                    "value" : "PA",
                    "name" : "PA"
                  }, {
                    "label" : "Puerto Rico",
                    "value" : "PR",
                    "name" : "PR"
                  }, {
                    "label" : "Rhode Island",
                    "value" : "RI",
                    "name" : "RI"
                  }, {
[...]
